<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./iconSecret.png" >
    <link rel="stylesheet" href="./mySecrets.css">
    <title>My secrets</title>
</head>
<body>
    <div class="mySecrets">
        <h1>My secrets</h1>
        <button onclick="location.href='/'">Back</button>
    </div>
    <div class="secrets">
        <h1>You have <%=secrets.length%> secrets.</h1>
        <div class="content">
            <%secrets.map(s=>{%>
                <div class="secret">
                    <div class="top">
                        <h2><%=s.title%></h2>
                        <h3>Author: <%=s.author%></h3>
                    </div>
                    <p><%=s.content%></p>
                    <h4><%=s.date%></h4>
                    <form action="/delete/<%=s.id%>&<%=s.author_id%>" method="POST">
                        <button class="delete" type="submit">Delete</button>
                    </form>
                </div>
            <%})%>
        </div>
        
    </div>
</body>
</html>